
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');


:root{
    --background-color: #333647;
    --pink: #f87652
}
*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color) !important; 
}

/* navbar */
.nav_section .navbar-brand {
    font-size: 22px;
    color: white;
}
.nav_section .navbar-brand span {
    color: var(--pink);
}

.nav_section .navbar-nav li {
    margin: 0px 8px;
}

.nav_section .navbar-nav li a {
    color: white !important;
    font-size: 15px;

}
.nav_section .navbar-nav .nav-link::before {
    content: '';
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: 0.5s;
}
.nav_section .navbar-nav .nav-link:hover::before {
    content: '';
    width: 17px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    
}

.hero-section .row {
    display: flex;
    align-items: center;
    height: 100vh;
}

.hero-section .row h1, h2, h3, h4, p {
    color: white;
}

.hero-section .row h3 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}

.hero-section .row h3::after{
    content: "";
    position: absolute;
    text-align: center;
    top: 10px;
    width: 70px;
    height: 2px;
    background-color: white;
    margin-left: 6px;
}

.hero-section .row h1{
    font-size: 65px;
    font-weight: 800;
}

.hero-section .row h2{
    font-size: 30px;
    font-weight: 300;
    margin: 8px 0px;
}
.hero-section .row button {
    border-radius: 10px;
    font-size: 19px;
    color: white;
    background-color: var(--pink);
    border: 3px slid var(--pink);
    width: 113px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;

}
.hero-section .row button:hover{
    animation: swing;
    animation-duration: 0.5s;
    background: white;
    color: black;

}

canvas.particles-js-canvas-el {
    position: absolute;
    height: 100% !important;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
    margin: 0px;
}

@media (max-width: 1200px) and (min-width: 993px) {
    .hero-section .row h1{
        font-size: 58px;
    }
}

@media (max-width: 993px) and (min-width: 763px) {
    .hero-section .row h1{
        font-size: 42px;
    }
    .hero-section .row h2{
        font-size: 15px;
    }
    .hero-section .row h3{
        font-size: 15px;
    }
    .hero-section .row p{
        font-size: 11px;
    }
    .hero-section .row button{
        font-size: 15px;
    }

}

@media (max-width: 763px) and (min-width: 500px) {
    .hero-section {
        margin: 55px 0px;
    }
    
    .hero-section .row h1{
        font-size: 46px;
        text-align: center;
    }
    .hero-section .row h2{
        font-size: 15px;
        text-align: center;
    }
    .hero-section .row h3{
        font-size: 18px;
        text-align: center;
        margin-bottom: 0px;
    }
    .hero-section .row h3::after{
        width: 0px;

    }
    .hero-section .row p{
        font-size: 11px;
        text-align: center;
    }
    .hero-section .row .btn-container button{
        width: 100px;
        height: 43px;
        font-size: 15px;
        text-align: center;
        align-items: center;
    }
    .hero-section img {
        width: 60%;
        margin-top: 20px;
        align-items: center;
    }

}
.skill-icon {
    max-width: 100px;
    max-height: 150px;
}
